extend ../layouts/common.pug

block title
     title Register Account


block content 
     .container
          h2.text-center Register Account
          if errors 
               each error in errors 
                    .alert.alert-danger.w-75.mx-auto.my-2= error
          form(action="/register", method="post").w-50.m-auto
               .d-flex
                    input.form-control.my-2(type="text", name="firstName", placeholder="First Name", value=firstName||"")
                    input.form-control.my-2(type="text", name="lastName", placeholder="Last Name", value=lastName||"")
               input.form-control.my-2(type="text", name="user", placeholder="user", value=user||"")
               input.form-control.my-2(type="password", name="pass", placeholder="password", value=pass||"")
               input.form-control.my-2(type="password", name="confirm", placeholder="confirm", value=confirm||"")
               input.form-control.my-2(type="email", name="email", placeholder="email", value=email||"")
               input.form-control.my-2(type="text", name="phone", placeholder="phone", value=phone||"")
               input.btn.btn-primary(type="submit", name="submit", value="Register")